@model List<ProdutoModel>

<section class="container">
    <div class="text-center mb-5">
        <form method="get" asp-action="index" asp-controller="Home" class="d-flex justify-content-center">
            <input name="pesquisar" class="form-control border-black w-50" />
            <button type="submit" class="btn btn w-10">Pesquisar</button>
        </form>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
        @if (Model != null)
        {
            @if(Model.Where(x => x.QuantidadeEstoque > 0).Count() > 0)
            {
                @foreach(produto in Model.Where(x => x.QuantidadeEstoque > 0))
                {
                    <div class="card" style="width: 18rem;">
                        <img src="/imagem/@produto.Foto" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@produto.Nome</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a asp-action="Detalhes" asp-controller="Produto" asp-route-id="@LojaProdutos.Id" class="btn btn-primary">Detalhes</a>
                        </div>
                    </div>
                }
            }
        }
    </div>
</section>